@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-vertical-horizontal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  NORMAL STYLES APPLY
1800 +:         Big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px (same as browser font-size, in media queries, no matter what our base font is)

ORDER (styling): base + typography + general layout + grid > page layout > components

    //all media rules for convenience (copy/paste)
    @include respond(big-desktop) {

    }
    @include respond(tab-land) {

    }
    @include respond(tab-port) {

    }
    @include respond(phone) {

    }
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.23em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}